@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=IBM+Plex+Mono&display=swap');

:root {
    --color-accent-primary: #ffb140;
    --color-accent-secondary: #bed3ff;
    --color-accent-tertiary: #6485ff;
    --color-text: #181d27;
    --color-border: #181d27;
    --color-bg: #ffffff;
    --color-danger: #d72e2e;
    --color-danger-bg: #ff919b;
}

[data-theme="dark"] {
    --color-accent-primary: #413e71;
    --color-accent-secondary: #181d27;
    --color-accent-tertiary: #040719;
    --color-text: #ffffff;
    --color-border: #929292;
    --color-bg: #000000;
    --color-danger: #820a0a;
    --color-danger-bg: #4c0007;
}

html {
    font-family: 'MuseoModerno', sans-serif;
    height: 100vh;
    flex-direction: column;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: var(--color-bg);
    color: var(--color-text);
}

a, a:hover {
    color: var(--color-text);
}

#app {
    display: flex;
    flex-direction: column;
}