@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=IBM+Plex+Mono&display=swap');

:root {
    --color-accent-primary: #EB5E28;
    --color-accent-secondary: #FFFCF2;
    --color-accent-tertiary: #CCC5B9;
    --color-text: #252422;
    --color-border: #252422;
    --color-bg: #FFFCF2;
    --color-danger: #d72e2e;
    --color-danger-bg: #ff919b;
}

[data-theme="dark"] {
    --color-accent-primary: #bc3a08;
    --color-accent-secondary: #252422;
    --color-accent-tertiary: #5b564d;
    --color-text: #FFFCF2;
    --color-border: #CCC5B9;
    --color-bg: #252422;
    --color-danger: #c00606;
    --color-danger-bg: #4c0007;
}

html {
    font-family: Cantarell, sans-serif;
    height: 100vh;
    flex-direction: column;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: var(--color-bg);
    color: var(--color-text);
}

a, a:hover {
    color: var(--color-text);
}

#app {
    display: flex;
    flex-direction: column;
}