:root {
    --color-primary: #da5552;
    --color-secondary: #ffbe86;
    --color-accent-primary: #00a0ac;
    --color-accent-secondary: #9fbad0;
    --color-text: #051923;
}

a {
    -moz-text-decoration-line: none;
    text-decoration-line: none;
}

body {
    margin: 0;
    background: var(--color-accent-secondary);
    color: var(--color-text);
}